.auth-form {
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    margin-top: 50px;
}

.auth-form input{
    padding: 0.65rem;
    border-radius: 5px;
    border: 1px solid #ea6252;
    width: 80%;
}

.auth-form input:focus{
    background-color: rgba(248, 139, 127, 0.55);
    outline: #e65140;
}

.auth-form button{
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    margin-top: 1.2rem;
    background-color: salmon;
    border: 1px solid transparent;
    font-size: 1rem;
}
.auth-form button:hover{
    cursor: pointer;
}
.switch-link{
    text-align: center;
    margin-top: 1.75rem;
}

.link-button{
    border: none;
    font-size: 1rem;
    color: #f35c4b;
    background-color: white;
}

.link-button:hover{
   cursor: pointer;
}